@CHARSET "UTF-8";


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://goo.gl/kxJPrj');
  background-size: cover;
  color: #ffffff;
  
  text-shadow: 3px 3px 3px #000000;
   height: 125vh;
}
.jumbotron h1,h2 {
        font-size: 3em;
    }
    
.jumbotron .btn-lg {
    padding: 18px 30px;
    font-size: 40px;
    border-radius: 8px;
}